@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GmarketSansLight";
}

.spinner {
  background-color: black;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  background-color: black;
  color: white;
  height: fit-content;
  min-height: 100vh;
}
.main {
  overflow: hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: black;
}
.main::-webkit-scrollbar {
  width: 0;
  display: none; /* Chrome, Safari, Opera*/
}

/*네비바*/
#navbar * {
  color: white;
  font-size: 14px;
}

#navbar img {
  margin-left: 10px;
  margin-right: 30px;
}

#navbar button {
  border-color: red;
  background-color: red;
}

#navbar button:focus {
  outline: none;
  box-shadow: none;
}

.nav-item {
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/*배너*/
.banner {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner::before {
  position: absolute;
  left: 0;
  width: 100%;
  height: 800px;
  content: "";
  background: linear-gradient(to top, black, transparent);
}

.banner-info {
  width: 80%;
  margin: auto;
  margin-top: 500px;
  z-index: 1;
  color: white;
}

.banner-info h1 {
  font-family: "GmarketSansBold";
}

/*카드*/
.container {
  cursor: pointer;
}
@media screen and (min-width: 464px) {
  .card-area h1 {
    font-family: "GmarketSansBold";
    margin-left: 100px;
    font-size: 30px;
  }
}

@media screen and (max-width: 464px) {
  .card-area h1 {
    font-family: "GmarketSansBold";
    margin-left: 50px;
    font-size: 30px;
  }
}

.card-slide {
  margin-left: 100px;
  margin-right: 100px;
}

.content {
  width: 300px;
  height: calc(300px / 1.78);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.content2 {
  text-align: left;
  width: 300px;
  height: fit-content;
}
.content2 h5 {
  font-family: "GmarketSansBold";
}
.star {
  margin-top: 10px;
}
.r-red {
  color: red;
  font-weight: bold;
}
.r-green {
  color: rgb(0, 180, 0);
  font-weight: bold;
}
.content2 label {
  font-size: 12px;
}
.card {
  background-color: black;
  height: fit-content;
  color: white;
}

.slide.slide2 {
  opacity: 0;
}

.card:hover .slide.slide2 {
  opacity: 1;
}

.container .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}

.container .card .slide {
  transition: 0.5s;
}

.container .card .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.7s;
  transform: translateY(100px);
}

.container .card:hover .slide.slide1 {
  transform: translateY(0px);
}

.container .card .slide.slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.container .card:hover .slide.slide2 {
  transform: translateY(0);
}

.container .card .slide.slide2::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  background: red;
}

/*디테일 페이지*/
#detail-area {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  cursor: default;
}

/*pc버전*/
@media screen and (min-width: 464px) {
  .detail-img {
    width: 550px;
    text-align: center;
    margin-bottom: 40px;
  }

  #ex-row {
    text-align: center;
  }

  .badge-ex {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    text-align: left;
  }
  .da-ex {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    text-align: left;
  }
}

/*모바일버전*/
@media screen and (max-width: 464px) {
  .detail-img {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .badge-ex {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }
  .da-ex {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  .col:first-child {
    text-align: center;
    margin: auto;
  }

  .tr-btn {
    text-align: center;
  }
}

.badge {
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #e50914;
  border-radius: 20px;
}

#detail-area h1 {
  font-family: "GmarketSansBold";
  font-size: 45px;
}

#detail-area p {
  font-size: 25px;
}

#detail-area span {
  margin-right: 40px;
}

.badge-ex label {
  width: 130px;
  font-size: 14px;
}

.badge-ex div {
  margin-bottom: -15px;
  font-size: 13px;
  font-weight: 500;
}

/*찜 버튼*/
.btns-area {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.btns-area label {
  margin: 5px;
  cursor: pointer;
}
.heartbtn-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

#tr-btn {
  background-color: black;
  border: 0;
  border-radius: 0;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
}

#tr-btn svg {
  margin: auto;
}
#tr-btn:focus {
  outline: none;
  border: 0;
  box-shadow: none;
}

/*트레일러*/
.modal-content {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.modal-header {
  border: 0;
}

.btn-close {
  background-color: white;
}

.btn-close {
  color: white;
}

@media screen and (min-width: 1024px) {
  .modal-body {
    text-align: center;
    width: 80%;
    margin: auto;
  }
  .modal-body * {
    display: block;
    width: 100%;
    height: 600px;
  }
}
@media screen and (max-width: 1024px) {
  .modal-body {
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .modal-body * {
    display: block;
    width: 100%;
    height: 600px;
  }
}

@media screen and (max-width: 464px) {
  .modal-body {
    text-align: center;
    width: 100%;
    margin: auto;
  }

  .modal-body * {
    display: block;
    width: 100%;
    height: 300px;
  }
}
/*리뷰창*/
@media screen and (min-width: 464px) {
  .rv-btn {
    margin-top: 150px;
    margin-left: 100px;
  }

  .rv-btn button {
    width: 230px;
    height: 70px;
    margin-right: 40px;
    border-radius: 30px 30px 0 0;
    border: 0;
    font-family: "GmarketSansBold";
    color: #e50914;
  }
}
@media screen and (max-width: 464px) {
  .rv-btn {
    margin-top: 150px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
  }

  .rv-btn button {
    display: block;
    width: 80px;
    height: 70px;
    margin-right: 40px;
    border-radius: 30px 30px 0 0;
    border: 0;
    font-family: "GmarketSansBold";
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    color: #e50914;
  }
}

.rv-btn button:first-child {
  background-color: #e50914;
  color: white;
}

.under-area {
  color: white;
  border: 1px solid white;
  border-radius: 80px;
  padding: 50px;
  margin-bottom: 200px;
}

.reviews {
  border-top: 1px solid white;
  padding-top: 30px;
  padding-bottom: 20px;
}

.reviews:first-child {
  border: 0;
}

.reviews h4 {
  font-family: "GmarketSansBold";
  font-size: 15px;
}

.reviews div {
  font-size: 14px;
  word-break: break-all;
}

.reviews p {
  font-size: 10px;
  text-align: right;
  margin-top: 20px;
  bottom: 4;
}

/*추천영화*/
.recommend-area {
  color: white;
}

.re-card-area {
  height: 350px;
}

/*movies 페이지*/
.accordion {
  margin-top: 70px;
}
.accordion button {
  font-family: "GmarketSansBold";
}
.accordion * {
  background-color: black;
  color: white;
}

.accordion *:focus {
  outline: none !important;
  box-shadow: none !important;
}

.accordion-button {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  border-radius: 0 !important;
}
.accordion-button:focus {
  border-color: white;
}
.accordion-button:not(.collapsed) {
  background-color: black;
  color: #e50914;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e);
  transform: rotate(-180deg);
}

.accordion-body {
  text-align: center;
}

#dropdown-basic {
  width: fit-content;
  margin-top: 30px;
  background-color: #e50914;
}
.dropdown-item:focus {
  background-color: #e50914 !important;
}

@media screen and (max-width: 1024px) and (min-width: 464px) {
  #page-row {
    margin-right: auto;
    margin-left: auto;
  }
  #page-row:first-child {
    margin-left: -50px;
    margin-right: -50px;
  }
}

/*슬라이더*/
.bar * {
  box-shadow: none !important;
  border: none !important;
}
.multi-range-slider {
  border: 0 !important;
}
.multi-range-slider .bar-inner {
  background-color: #e50914 !important;
  border: 4px solid #e50914 !important;
}
.multi-range-slider .thumb::before {
  background-color: #e50914 !important;
  margin: -6px !important;
  border: none !important;
  box-shadow: none !important;
}

.multi-range-slider .thumb * {
  background-color: #e50914 !important;
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
}

.slider-ex span {
  font-family: "GmarketSansBold";
  font-size: 25px;
}

.filters {
  margin-bottom: 30px;
}

/*movies 긴 카드 */
.LMC {
  width: 360px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30%;
  border-radius: 30px;
  margin-bottom: 40px;
  display: flex;
  cursor: pointer;
}
.LMC-info {
  background: linear-gradient(90deg, #0d0d0c 50%, transparent);
  padding: 30px;
  border-radius: 25px;
  position: relative;
}
.LMC-info img {
  width: 53px;
  height: 80px;
}
.LMC-info h1 {
  font-size: 30px;
  margin-left: 20px;
  width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.titles {
  display: flex;
  margin-bottom: 20px;
}
.date {
  font-size: 12px;
  margin-bottom: 10px;
  color: #9ac7fa;
}

.LMC-badge {
  border: 1px solid #e50914;
  background-color: #e50914;
  color: white;
  border-radius: 10px;
  width: fit-content;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 5px;
}

.explains {
  font-size: 13px;
  width: 180px;
  height: 45%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(170, 170, 170);

  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.7;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}

.LMC-count {
  position: absolute;
  bottom: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.LMC-count * {
  margin-right: 10px;
}

/*장르 뱃지*/
.genre-btn {
  color: #000;
  cursor: pointer;
  margin: 10px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.genre-btn:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.genre-btn:focus {
  color: #fff;
  outline: none;
}
.genre-btn.color-6 {
  background-image: linear-gradient(
    to right,
    #e50914,
    #f79533,
    rgb(33, 2, 2),
    #e50914
  );
  box-shadow: 0 4px 15px 0 rgba(229, 53, 53, 0.75);
}

/*페이지 네이션*/
.pagination {
  justify-content: center;
}
.pagination li {
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
}
.pagination a {
  text-decoration: none;
  color: white;
}

.pagination .active {
  background-color: #e50914;
  border-radius: 30%;
}

@media screen and (max-width: 464px) {
  .page-align {
    text-align: center;
  }

  .pagination * {
    width: fit-content;
  }

  .pagination li {
    width: 90%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    align-items: center;
  }
}

/*검색창*/
.search-area {
  margin-top: 40px;
}
.search-input {
  color: black !important;
  border-color: black !important;
}
.search-input:focus {
  outline: none;
  box-shadow: none;
}
.search-btn {
  background-color: #e50914 !important;
  border-color: #e50914 !important;
}

/*footer*/
@media screen and (min-width: 464px) {
  .footer {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    color: rgb(212, 212, 212);
    text-align: center;
    border-top: 1px solid rgb(40, 40, 40);
  }
}

@media screen and (max-width: 464px) {
  .footer {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    color: rgb(212, 212, 212);
    text-align: center;
    border-top: 1px solid rgb(40, 40, 40);
    font-size: 13px;
  }
}

/*로그인 페이지*/
.authContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.authContainer * {
  font-weight: bold;
}
.authContainer *:focus {
  outline: 0;
}
.authForm {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}
.authSocial {
  color: rgb(154, 154, 154);
  font-size: 10px;
  border-top: 1px solid rgb(66, 66, 66);
  width: 320px;
  padding: 10px;
}
.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}
.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  font-size: 12px;
  align-items: center;
  width: 150px;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  z-index: 999;
}

.authBtn svg {
  margin: 12px;
  pointer-events: none;
}
.authBtn img {
  pointer-events: none;
}

.authInput {
  max-width: 320px;
  width: 100vh;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}


.authSubmit {
  text-align: center;
  background: #e50914;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  cursor: pointer;
}
.authSubmit:disabled{
  background-color: #666;
  color: #2c2c2c;
}

.authError {
  color: rgb(255, 255, 0);
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 5px;
}

.authSwitch {
  color: #e50914;
  background-color: black;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  text-align: center;
  font-size: 12px;
  text-decoration: underline;
  text-underline-position: under;
}

/*마이페이지*/
.profileArea {
  color: white;
}
.EditBtns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.EditBtn {
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: #000;
  color: white;
  width: 150px;
  text-align: center;
  align-items: center;
  margin: 5px;
  font-size: 10px;
}
.profileImage {
  display: flex;
  justify-content: center;
}
.avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 5px;
}
.profileName {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 40px;
}
.profileIntro {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
/*프로필 수정 팝업*/
.ReactModal__Overlay {
  background: black !important;
  text-align: left;
}
.ReactModal__Content {
  background-color: black !important;
  border: none !important;
  color: white;
  padding: 5px !important;
  height: fit-content;
  max-width: 560px;
  margin: auto;
}
.ReactModal__Content h3 {
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid #737373;
  padding-bottom: 10px;
}
.editImg-area {
  text-align: center;
}
.editImg {
  position: relative;
  margin: auto;
  text-align: center;
  cursor: pointer;
}
.avatar2 {
  width: 140px;
  height: 140px;
  border-radius: 5px;
  object-fit: cover;
}
.caicon {
  background-color: black;
  box-shadow: 1px 1px 1px 1px rgb(49, 48, 48);
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 58px;
}
.editText-area {
  text-align: center;
  max-width: 320px;
  margin: auto;
  margin-top: 10px;
}
.editText-area label {
  padding-right: 20px;
}
.editInput {
  background-color: #666;
  color: white;
  padding: 3px;
  align-items: center;
}
.editInput:focus {
  outline: none;
}
.editInput::placeholder {
  color: white;
}
.editBtns {
  border-top: 1px solid #737373;
  margin-top: 10px;
  padding-top: 20px;
}
.editBtns button {
  margin: 0px 20px 20px 0px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
}
.saveBtn {
  border: 2px solid white;
}
.saveBtn:hover {
  background-color: #e50914;
  border-color: #e50914;
  color: white;
}
.cancelBtn {
  background-color: black;
  color: #737373;
  border: 2px solid #737373;
}
.cancelBtn:hover {
  color: white;
  border-color: white;
}

/*찜목록*/
.profileList {
  margin-top: 30px;
  border-top: 1px solid rgb(40, 40, 40);
  padding: 20px 30px;
}

.profileList h2 {
  font-weight: bold;
}

.mycardList {
  display: flex;
  min-height: 100vh;
  max-height: fit-content;
}
